<!doctype html>
<html>
	<head>
		<base href='/' />
		<title>Socket.IO chat</title>
		<link href="/public/styles/stylesheet.css" type="text/css" rel="stylesheet" />
		<script src="/socket.io/socket.io.js"></script>
		<script src="/node_modules/angular/angular.js"></script>
		<script src="/node_modules/angular-event-emitter/angular-event-emitter.js"></script>
		<script src="/browser/js/module.js"></script>

		<script src="/browser/js/controllers/chatCtrl.js"></script>
		<script src="/browser/js/controllers/loginCtrl.js"></script>
		<script src="/browser/js/controllers/debugger.js"></script>
		<script src="/browser/js/controllers/chatRoomSelectionCtrl.js"></script>
		<script src="/browser/js/controllers/gameLobbyCtrl.js"></script>
		<script src="/browser/js/controllers/gameRoomCtrl.js"></script>
		<script src="/browser/js/controllers/teamProposalCtrl.js"></script>
		<script src="/browser/js/controllers/voteQuestPartyCtrl.js"></script>
		<script src="/browser/js/controllers/questingCtrl.js"></script>
		<script src="/browser/js/controllers/assassinationCtrl.js"></script>
		<script src="/browser/js/controllers/ladyCtrl.js"></script>

		<script src="/browser/js/factories/chatFactory.js"></script>
		<script src="/browser/js/factories/socketFactory.js"></script>
		<script src="/browser/js/factories/loginFactory.js"></script>
		<script src="/browser/js/factories/chatRoomSelectionFactory.js"></script>
		<script src="/browser/js/factories/gameLobbyFactory.js"></script>
		<script src="/browser/js/factories/gameRoomFactory.js"></script>
		<script src="/browser/js/factories/teamProposalFactory.js"></script>
		<script src="/browser/js/factories/debuggerFactory.js"></script>
		<script src="/browser/js/factories/voteQuestPartyFactory.js"></script>
		<script src="/browser/js/factories/questingFactory.js"></script>
		<script src="/browser/js/factories/assassinationFactory.js"></script>
		<script src="/browser/js/factories/ladyFactory.js"></script>

		<script src="/browser/js/states/loginState.js"></script>
		<script src="/browser/js/states/chatRoomSelection.js"></script>
		<script src="/browser/js/states/gameLobby.js"></script>
		<script src="/browser/js/states/gameRoom.js"></script>
		<script src="/browser/js/states/teamProposal.js"></script>
		<script src="/browser/js/states/voteQuestParty.js"></script>
		<script src="/browser/js/states/questing.js"></script>
		<script src="/browser/js/states/assassination.js"></script>
		<script src="/browser/js/states/lady.js"></script>


		<script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	</head>
	<body>
		<div ng-app='chat'>
			<div ng-controller='debugger'>
				<button ng-click='getConnections()'>See Connections</button>
				<button ng-click='testRoom()'>Create test room</button>
				<button ng-click='testState("assassination")'>Go to assassination state.</button>
				<button ng-click='testState("roomSelection")'>Go to roomSelection state.</button>
				<button ng-click='testState("gameLobby")'>Go to gameLobby state.</button>
				<button ng-click='testState("gameRoom")'>Go to gameRoom state.</button>
				<button ng-click='testState("login")'>Go to login state.</button>
				<button ng-click='testState("questing")'>Go to questing state.</button>
				<button ng-click='testState("voteQuestParty")'>Go to voteQuestParty state.</button>
				<button ng-click='testState("lady")'>Go to lady state.</button>
				<button ng-click='testState("teamProposal")'>Go to teamProposal state.</button>
			</div>
			<div ng-controller='ChatCtrl'>
				<p> This is a chat app.
				<ul id="messages">
					<li ng-repeat='message in messageArr'> {{message}} </li>
				</ul>
				</p>
				<form id='messageForm' ng-submit="sendMessage(textEntry)">
					<input id="m" autocomplete="off" / ng-model='textEntry'>
					<input type='submit'>
				</form>
			</div>
			<div>
				Ui-view below:
				<ui-view></ui-view>
			</div>
		</div>

	</body>
</html>
